[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
python-dotenv = "*"
flask = "*"
python-arango = "*"
loguru = "*"
graphene = "*"
starlette = "*"
uvicorn = "*"

[requires]
python_version = "3.8"
